*{
    margin: 0;
    padding: 0;
}

/* common shared style */
.section-title{color: #181818;
    text-align: center;
    font-size: 35px;
   font-weight: 700;
   }

body{
    font-family: 'Open Sans', sans-serif;
}

body section{
    margin-top:130px
}
.primary-color{
    background: #FD6E0A;}

.primary-nav{
    color:#FD6E0A
}

/* nav decoration */
nav{display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px 0 200px
   
}

nav > ul{
    display: flex;
    align-items: center;
   
    
}


nav li{
    margin-right: 30px;
    list-style: none;
}

nav a{text-decoration: none;
    color:  #474747;
   
    font-size: 20px;
  
    font-weight: 400;
   }
.btn-primary{
   padding:20px 20px;
    border-radius: 5px;
background: #FD6E0A;
border:0;
font-size: 16px;
font-weight: 700;
color:white
}
   .nav-title{color:  #181818;

   
   font-size: 45px;
   
   font-weight: 800;
   }

   /* header section */
   .header{
      background: #FFF8F3;
     
   }


   .banner{
     padding:30px 30px 0px 200px;
     /* margin:30px 30px 30px 200px; */
      display: flex;
      align-items: center;
      justify-content:space-between;
    background-image: url('./images/header_bg.png');
background-repeat: no-repeat;
background-position: bottom right;
}

   .banner_container{
    max-width: 500px;
   }

 .banner .banner_model{width:500px}

 .welcome-title{
     font-size: 45px;
     margin-bottom: 0;
 }

 .banner-title{
     font-size: 85px;
     font-weight: 700;
     margin-top: 5px;
     margin-bottom: 20px;
 }

 .banner-description{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
  margin-bottom: 30px;
 }
/* main section */
main{
    max-width: 1140px;
    margin:0 auto
}
 /* about section */
.about{padding:130px ;
    border-radius: 10px;
    background: #FFF8F3;
margin:130px 0px}


.section-description{color:#757575;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin:30px 0px
       }

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
    margin-right: 30px;
}

.about-info:last-child{margin-right: 0;}

.about-info-title,.about-info-description{color: #474747;
    font-size: 20px;
    font-weight: 400;
    }
.about-info-description{    font-weight: 700;}

/* what-i-do-section start */

#what-i-do-description{
   
   padding:30px 150px

}

/* skill section */
.skill-container{display: flex;
                gap:30px}

.skill{
    padding:30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title{
    margin:20px 0px;
    color:#181818;
font-size: 20px;
font-weight: 700;



}

.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;

}

/* resume-container */
.resume-column h3{
        color:#474747;
        font-size: 30px;
        font-weight: 700;

}

.resume-container{
    display: flex;
    gap:50px;
    margin-top:113px;
    margin-bottom: 0px;
}

.resume-colum-title{
    margin-top:30px;
    margin-bottom: 10px;
    color:#474747;

font-size: 25px;
font-weight: 700;;
}


.resume-institule{color:#757575;
font-family: "Open Sans";
font-size: 20px;
font-weight: 600;
margin-bottom: 30px
;}

.resume-container hr{
    margin:30px 0px
}

.download-cv{
    text-align: center;
    margin-top:50px;
    font-size: 20px;

font-weight: 700;
}
/* footer section */
footer{
    display: flex;
    gap:50px;
    padding: 130px 230px;
    background: #FFF8F3;
    margin-top: 113px;
}


.footer-column{
    width:50%;
}
.footer-column-title{
color:#181818;
margin:0;
font-size: 35px;
margin-bottom: 20px;
font-weight: 700;}


.footer-column p{color:#474747;
    font-size: 16px;
    font-weight: 400;
    }

.social-icon{
    margin-top: 30px;
  
}

.social-icon a{
    margin-right: 24px;
}

.Contact input[type="text"],.Contact input[type="email"],textarea{
    display: block;
    margin-bottom: 24px;
    padding:18px 30px;
    color: #757575;font-size: 16px;
font-style: normal;
font-weight: 400;
width: 100%;
border:none;
border-radius: 5px;
}